flow.json
[{"id":"11c480c4.77b35f","type":"tab","label":"sample","disabled":false,"info":""},{"id":"85eea2b2.7b1e4","type":"tab","label":"led","disabled":false,"info":""},{"id":"e455d0e1.1b1b7","type":"tab","label":"arm","disabled":false,"info":""},{"id":"9404abeb.ebce08","type":"tab","label":"translation","disabled":false,"info":""},{"id":"75f1460b.ca18c8","type":"tab","label":"speaker","disabled":false,"info":""},{"id":"db0c9876.16fe48","type":"tab","label":"camera","disabled":false,"info":""},{"id":"5bc057eb.1ffd58","type":"tab","label":"twitter","disabled":true,"info":""},{"id":"39662574.1bef0a","type":"subflow","name":"create sentence","info":"","category":"Raspberry Pi","in":[{"x":40,"y":100,"wires":[{"id":"de86b869.4c42f8"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"e14018f0.4d6a38","port":0}]}],"icon":"node-red/template.png"},{"id":"8ec6a26b.6172d","type":"websocket-client","z":"","path":"ws://tjbotfan.mybluemix.net/tjbot","tls":"","wholemsg":"true"},{"id":"2261adcb.7c4b62","type":"image-caption-generator-service","z":"5bc057eb.1ffd58","host":"https://max-image-caption-generator.max.us-south.containers.appdomain.cloud","name":"cloud"},{"id":"be065126.5eb19","type":"object-detector-service","z":"","host":"https://max-object-detector.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"7c8c2bc4.087c34","type":"vtjbot-config","z":"","botGender":"female","name":"","listen":"ja-JP","speak":"ja-JP","hasServo":false,"hasLED":false,"hasSpeaker":false,"hasMicrophone":false,"hasCamera":false,"aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"64597fb3.ceac7","type":"template","z":"85eea2b2.7b1e4","name":"create red data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"red\"","output":"json","x":360,"y":60,"wires":[["cee0d632.74e298"]]},{"id":"7cff7c96.f411d4","type":"template","z":"85eea2b2.7b1e4","name":"create green data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"green\"","output":"json","x":370,"y":100,"wires":[["cee0d632.74e298"]]},{"id":"611630f3.ff69","type":"template","z":"85eea2b2.7b1e4","name":"create blue data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"blue\"","output":"json","x":360,"y":140,"wires":[["cee0d632.74e298"]]},{"id":"f2ef91de.1ab71","type":"template","z":"85eea2b2.7b1e4","name":"create aqua data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"aqua\"","output":"json","x":370,"y":220,"wires":[["cee0d632.74e298"]]},{"id":"3a304d54.591b22","type":"template","z":"85eea2b2.7b1e4","name":"create yellow data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"yellow\"","output":"json","x":370,"y":180,"wires":[["cee0d632.74e298"]]},{"id":"86f47c9c.d0946","type":"template","z":"85eea2b2.7b1e4","name":"create pink data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"pink\"","output":"json","x":360,"y":260,"wires":[["cee0d632.74e298"]]},{"id":"ddf162c2.8c293","type":"template","z":"85eea2b2.7b1e4","name":"create white data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"white\"","output":"json","x":370,"y":300,"wires":[["cee0d632.74e298"]]},{"id":"6696ec7b.c12834","type":"template","z":"85eea2b2.7b1e4","name":"create off data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"off\"","output":"json","x":360,"y":340,"wires":[["cee0d632.74e298"]]},{"id":"fa0a5882.e10cc8","type":"inject","z":"85eea2b2.7b1e4","name":"red","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["64597fb3.ceac7"]]},{"id":"70cd07d9.332d98","type":"inject","z":"85eea2b2.7b1e4","name":"green","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["7cff7c96.f411d4"]]},{"id":"3d44856f.c9fa0a","type":"inject","z":"85eea2b2.7b1e4","name":"blue","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["611630f3.ff69"]]},{"id":"ac21c9c3.a4b9a8","type":"inject","z":"85eea2b2.7b1e4","name":"yellow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["3a304d54.591b22"]]},{"id":"d6d4028f.8b397","type":"inject","z":"85eea2b2.7b1e4","name":"aqua","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":220,"wires":[["f2ef91de.1ab71"]]},{"id":"bec31d88.af13f","type":"inject","z":"85eea2b2.7b1e4","name":"pink","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["86f47c9c.d0946"]]},{"id":"dc826d69.4e0a2","type":"inject","z":"85eea2b2.7b1e4","name":"white","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["ddf162c2.8c293"]]},{"id":"77df9c2b.c5dc14","type":"inject","z":"85eea2b2.7b1e4","name":"off","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":340,"wires":[["6696ec7b.c12834"]]},{"id":"fcdf70af.08c94","type":"template","z":"e455d0e1.1b1b7","name":"create up data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"raisearm","output":"str","x":360,"y":60,"wires":[["5a24cdb8.6bae24"]]},{"id":"b6d1c07b.ec00c","type":"template","z":"e455d0e1.1b1b7","name":"create middle data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"armback","output":"str","x":370,"y":120,"wires":[["5a24cdb8.6bae24"]]},{"id":"f6c1af79.a7b35","type":"template","z":"e455d0e1.1b1b7","name":"create down data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"lowerarm","output":"str","x":370,"y":180,"wires":[["5a24cdb8.6bae24"]]},{"id":"3aa9e4f6.38ad9c","type":"inject","z":"e455d0e1.1b1b7","name":"up","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["fcdf70af.08c94"]]},{"id":"30a82dfa.4f5862","type":"inject","z":"e455d0e1.1b1b7","name":"middle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["b6d1c07b.ec00c"]]},{"id":"14e9223e.bcf34e","type":"inject","z":"e455d0e1.1b1b7","name":"down","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["f6c1af79.a7b35"]]},{"id":"f2ddafad.4686e","type":"inject","z":"db0c9876.16fe48","name":"generate caption","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["7fa2b56f.261c9c"]]},{"id":"bb7f7aba.db8898","type":"debug","z":"db0c9876.16fe48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":280,"wires":[]},{"id":"371212fe.2ab40e","type":"inject","z":"db0c9876.16fe48","name":"Classify photo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["6d2e5af9.5d4894"]]},{"id":"85a89414.05cc38","type":"comment","z":"db0c9876.16fe48","name":"paste API key ->","info":"","x":120,"y":460,"wires":[]},{"id":"da3d70d1.35211","type":"change","z":"db0c9876.16fe48","name":"set data","rules":[{"t":"set","p":"payload","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["86487fb4.35209"]]},{"id":"86487fb4.35209","type":"debug","z":"db0c9876.16fe48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":460,"wires":[]},{"id":"ca1dab2d.06f6f8","type":"comment","z":"db0c9876.16fe48","name":"(1) Camera test on dashboard","info":"","x":160,"y":40,"wires":[]},{"id":"33815900.75d398","type":"comment","z":"db0c9876.16fe48","name":"(2) Generate caption from photo","info":"","x":170,"y":180,"wires":[]},{"id":"d3974054.44074","type":"comment","z":"db0c9876.16fe48","name":"(3) Classify photo","info":"","x":120,"y":360,"wires":[]},{"id":"35bade76.b73aa2","type":"debug","z":"9404abeb.ebce08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"a4dff241.e2caa","type":"template","z":"9404abeb.ebce08","name":"create text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello world!","output":"str","x":270,"y":120,"wires":[["f5007a8.dd0fc88"]]},{"id":"d99a5e92.24da1","type":"inject","z":"9404abeb.ebce08","name":"translate","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["a4dff241.e2caa"]]},{"id":"972e27d5.403cf8","type":"comment","z":"9404abeb.ebce08","name":"(1) Google translate","info":"","x":130,"y":80,"wires":[]},{"id":"a0265bdd.83e568","type":"comment","z":"9404abeb.ebce08","name":"(2) Watson Language Translator","info":"","x":170,"y":220,"wires":[]},{"id":"daee75db.f13678","type":"debug","z":"9404abeb.ebce08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":340,"wires":[]},{"id":"caec9f60.7e2bc","type":"template","z":"9404abeb.ebce08","name":"create text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello world!","output":"str","x":270,"y":260,"wires":[["a111de6d.cc511"]]},{"id":"8ec10d3d.f91e5","type":"inject","z":"9404abeb.ebce08","name":"translate","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["caec9f60.7e2bc"]]},{"id":"779d6867.ea12a8","type":"comment","z":"9404abeb.ebce08","name":"paste API key ->","info":"","x":140,"y":340,"wires":[]},{"id":"7713391d.272ea8","type":"inject","z":"75f1460b.ca18c8","name":"greeting","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["5e91c6bc.e09d68"]]},{"id":"5e91c6bc.e09d68","type":"template","z":"75f1460b.ca18c8","name":"create sentence","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは、僕の名前はTJボットです！","output":"str","x":360,"y":60,"wires":[["a85ca2c0.8a0d8"]]},{"id":"83327955.ddf1c8","type":"image-caption-generator","z":"db0c9876.16fe48","service":"58f1232e.cf704c","method":"predict","predict_body":"","predict_bodyType":"str","name":"","x":330,"y":280,"wires":[["bb7f7aba.db8898"]]},{"id":"14955d93.5883b2","type":"base64","z":"db0c9876.16fe48","name":"","action":"","property":"payload","x":480,"y":140,"wires":[["b57cac88.c6dd3"]]},{"id":"a111de6d.cc511","type":"watson-translator","z":"9404abeb.ebce08","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"ja","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":350,"y":340,"wires":[["daee75db.f13678"]]},{"id":"87a4da64.b86208","type":"visual-recognition-v3","z":"db0c9876.16fe48","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":330,"y":460,"wires":[["da3d70d1.35211"]]},{"id":"76e622a1.2f857c","type":"ui_button","z":"db0c9876.16fe48","name":"","group":"48b6a12c.b1636","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":80,"wires":[["e50a462e.ff9648"]]},{"id":"b57cac88.c6dd3","type":"ui_template","z":"db0c9876.16fe48","group":"48b6a12c.b1636","name":"photo","order":1,"width":"6","height":"4","format":"<div ng-bind-html></div>\n<img width=\"320\" height=\"240\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":140,"wires":[[]]},{"id":"607ed148.67fe4","type":"http request","z":"5bc057eb.1ffd58","name":"get image data","method":"GET","ret":"bin","url":"","tls":"","x":140,"y":460,"wires":[["c9adc3.63c4324"]]},{"id":"81854aa9.8d36a8","type":"debug","z":"5bc057eb.1ffd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":560,"wires":[]},{"id":"c9adc3.63c4324","type":"image-caption-generator","z":"5bc057eb.1ffd58","service":"7b388ec3.7db26","method":"predict","passthrough":false,"predict_body":"","predict_bodyType":"str","name":"","x":380,"y":460,"wires":[["d7f69d6d.84c32"]]},{"id":"9dd47a39.93e768","type":"change","z":"5bc057eb.1ffd58","name":"set image url","rules":[{"t":"set","p":"url","pt":"msg","to":"tweet.entities.media[0].media_url_https","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":400,"wires":[["5c7a6dcd.3fd7a4"]]},{"id":"48ee99ac.9d1358","type":"switch","z":"5bc057eb.1ffd58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"手","vt":"str"},{"t":"cont","v":"頭","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":140,"wires":[["1f7fc6ed.e80d09","bdb2a626.668718"],["9cf040c1.3cdb8","900fe0b6.ed937"],["f2da804f.cd382"]]},{"id":"f2da804f.cd382","type":"debug","z":"5bc057eb.1ffd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":220,"wires":[]},{"id":"5c7a6dcd.3fd7a4","type":"switch","z":"5bc057eb.1ffd58","name":"filter null url","property":"url","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":400,"wires":[["607ed148.67fe4"]]},{"id":"bdb2a626.668718","type":"template","z":"5bc057eb.1ffd58","name":"create up data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"raisearm","output":"str","x":380,"y":60,"wires":[["546f7c76.2bea74"]]},{"id":"d44e926b.3804","type":"template","z":"5bc057eb.1ffd58","name":"create down data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"lowerarm","output":"str","x":550,"y":100,"wires":[["546f7c76.2bea74"]]},{"id":"1f7fc6ed.e80d09","type":"delay","z":"5bc057eb.1ffd58","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":100,"wires":[["d44e926b.3804"]]},{"id":"900fe0b6.ed937","type":"template","z":"5bc057eb.1ffd58","name":"create red data","field":"color","fieldType":"msg","format":"json","syntax":"mustache","template":"\"red\"","output":"json","x":380,"y":140,"wires":[["a7c3fba9.7e6248"]]},{"id":"6c933bc8.5a20c4","type":"template","z":"5bc057eb.1ffd58","name":"create off data","field":"color","fieldType":"msg","format":"json","syntax":"mustache","template":"\"off\"","output":"json","x":520,"y":180,"wires":[["a7c3fba9.7e6248"]]},{"id":"9cf040c1.3cdb8","type":"delay","z":"5bc057eb.1ffd58","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":180,"wires":[["6c933bc8.5a20c4"]]},{"id":"b2aeb085.e8b87","type":"comment","z":"5bc057eb.1ffd58","name":"(1) Control by tweet","info":"","x":110,"y":80,"wires":[]},{"id":"6e08f681.3e1a88","type":"comment","z":"5bc057eb.1ffd58","name":"(2) Explain about image in tweet","info":"","x":150,"y":340,"wires":[]},{"id":"59587d04.a3bed4","type":"websocket in","z":"5bc057eb.1ffd58","name":"#tjbot","server":"","client":"8ec6a26b.6172d","x":70,"y":140,"wires":[["48ee99ac.9d1358"]],"icon":"node-red/twitter.png"},{"id":"98f6342d.182fc8","type":"websocket in","z":"5bc057eb.1ffd58","name":"#tjbot","server":"","client":"8ec6a26b.6172d","x":70,"y":400,"wires":[["9dd47a39.93e768"]],"icon":"node-red/twitter.png"},{"id":"f692c06e.8340a","type":"switch","z":"11c480c4.77b35f","name":"It contains face?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":260,"wires":[["14d9a29.dd1e95d","7071d63b.e70088"]]},{"id":"363d32b1.7da6be","type":"inject","z":"11c480c4.77b35f","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[["1eb40dbd.188a62"]]},{"id":"1eb40dbd.188a62","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":520,"wires":[["c199d7d2.605f58","296d521c.f5d3ae"]]},{"id":"c199d7d2.605f58","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":580,"wires":[["81831ebd.dbd3c","e4028261.84b6f"]]},{"id":"81831ebd.dbd3c","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":640,"wires":[["b3d70de7.e7f23","f916a668.f90a88"]]},{"id":"b3d70de7.e7f23","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":700,"wires":[["acfaf33d.b0f7d","8df1dd22.3dfd5"]]},{"id":"acfaf33d.b0f7d","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":760,"wires":[["9d32eb04.a101d8","95001bc4.39b598"]]},{"id":"9d32eb04.a101d8","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":820,"wires":[["38568014.04ab5","ac084b6a.46fb58"]]},{"id":"38568014.04ab5","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":880,"wires":[["558cd9e2.7c33b8","a8131f22.8e932"]]},{"id":"558cd9e2.7c33b8","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":940,"wires":[["35f9bc64.8fda54"]]},{"id":"7071d63b.e70088","type":"template","z":"11c480c4.77b35f","name":"create up data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"raisearm","output":"str","x":380,"y":260,"wires":[["92613e54.d9ff"]]},{"id":"65537081.f788","type":"template","z":"11c480c4.77b35f","name":"create down data","field":"motion","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"lowerarm","output":"str","x":390,"y":320,"wires":[["92613e54.d9ff"]]},{"id":"14d9a29.dd1e95d","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":320,"wires":[["65537081.f788"]]},{"id":"93b259ef.c55038","type":"comment","z":"11c480c4.77b35f","name":"(1) Wave when detecting face","info":"","x":160,"y":40,"wires":[]},{"id":"7e1251da.5da43","type":"comment","z":"11c480c4.77b35f","name":"(2) Blink LED","info":"","x":110,"y":420,"wires":[]},{"id":"adc21081.171ae","type":"switch","z":"39662574.1bef0a","name":"IP address?","property":"payload.address","propertyType":"msg","rules":[{"t":"regex","v":"^([0-9]+\\.){3}[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["47d1b928.bb51a8"],["aac29d2a.5d823"]]},{"id":"47d1b928.bb51a8","type":"template","z":"39662574.1bef0a","name":"create sentence","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IPアドレスは、{{payload.address}}です。","output":"str","x":500,"y":60,"wires":[["1b8ac8a0.f54657"]]},{"id":"de86b869.4c42f8","type":"split","z":"39662574.1bef0a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":100,"wires":[["adc21081.171ae"]]},{"id":"e14018f0.4d6a38","type":"join","z":"39662574.1bef0a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":140,"wires":[[]]},{"id":"aac29d2a.5d823","type":"change","z":"39662574.1bef0a","name":"null","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[["e14018f0.4d6a38"]]},{"id":"1b8ac8a0.f54657","type":"change","z":"39662574.1bef0a","name":"dot to ten","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"点、","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[["e14018f0.4d6a38"]]},{"id":"cc4b94fa.3ae808","type":"image","z":"11c480c4.77b35f","name":"","width":160,"x":620,"y":149,"wires":[]},{"id":"cee0d632.74e298","type":"vtjbot-shine","z":"85eea2b2.7b1e4","botId":"26b5141c.183e7c","mode":"shine","color":"msg.color","duration":"","name":"","x":670,"y":200,"wires":[]},{"id":"4990ca97.2d81a4","type":"vtjbot-shine","z":"11c480c4.77b35f","botId":"26b5141c.183e7c","mode":"shine","color":"msg.color","duration":"","name":"","x":610,"y":720,"wires":[]},{"id":"273fad41.78a4e2","type":"vtjbot-see","z":"11c480c4.77b35f","botId":"7c8c2bc4.087c34","mode":"takephoto","returnOnPayload":false,"width":960,"height":720,"name":"","x":290,"y":80,"wires":[["abf00805.2e27c8"]]},{"id":"546f7c76.2bea74","type":"vtjbot-wave","z":"5bc057eb.1ffd58","botId":"26b5141c.183e7c","motion":"msg.motion","name":"","x":731,"y":60,"wires":[]},{"id":"a7c3fba9.7e6248","type":"vtjbot-shine","z":"5bc057eb.1ffd58","botId":"26b5141c.183e7c","mode":"shine","color":"msg.color","duration":"","name":"","x":730,"y":140,"wires":[]},{"id":"d3b4f640.5c5bc8","type":"file-buffer","z":"11c480c4.77b35f","name":"","mode":"asBuffer","x":580,"y":80,"wires":[["cc4b94fa.3ae808","c56002fd.c716e"]]},{"id":"abf00805.2e27c8","type":"function","z":"11c480c4.77b35f","name":"convert","func":"msg.payload=msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["d3b4f640.5c5bc8"]]},{"id":"13a75a5f.07f476","type":"inject","z":"11c480c4.77b35f","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["273fad41.78a4e2"]]},{"id":"92613e54.d9ff","type":"vtjbot-wave","z":"11c480c4.77b35f","botId":"26b5141c.183e7c","motion":"msg.motion","name":"","x":590,"y":320,"wires":[]},{"id":"5a24cdb8.6bae24","type":"vtjbot-wave","z":"e455d0e1.1b1b7","botId":"26b5141c.183e7c","motion":"msg.motion","name":"","x":620,"y":120,"wires":[]},{"id":"a85ca2c0.8a0d8","type":"play audio","z":"75f1460b.ca18c8","name":"","voice":"0","x":610,"y":60,"wires":[]},{"id":"e50a462e.ff9648","type":"vtjbot-see","z":"db0c9876.16fe48","botId":"26b5141c.183e7c","mode":"takephoto","returnOnPayload":false,"width":960,"height":720,"name":"","x":210,"y":80,"wires":[["2305b0dd.83df9"]]},{"id":"2305b0dd.83df9","type":"function","z":"db0c9876.16fe48","name":"convert","func":"msg.payload=msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["ebf5be5c.08618"]]},{"id":"ebf5be5c.08618","type":"file-buffer","z":"db0c9876.16fe48","name":"","mode":"asBuffer","x":340,"y":140,"wires":[["14955d93.5883b2"]]},{"id":"7fa2b56f.261c9c","type":"vtjbot-see","z":"db0c9876.16fe48","botId":"26b5141c.183e7c","mode":"takephoto","returnOnPayload":false,"width":960,"height":720,"name":"","x":270,"y":220,"wires":[["67c823e7.d6fd9c"]]},{"id":"67c823e7.d6fd9c","type":"function","z":"db0c9876.16fe48","name":"convert","func":"msg.payload=msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["76834ade.5d1da4"]]},{"id":"76834ade.5d1da4","type":"file-buffer","z":"db0c9876.16fe48","name":"","mode":"asBuffer","x":540,"y":220,"wires":[["83327955.ddf1c8"]]},{"id":"6d2e5af9.5d4894","type":"vtjbot-see","z":"db0c9876.16fe48","botId":"26b5141c.183e7c","mode":"takephoto","returnOnPayload":false,"width":960,"height":720,"name":"","x":270,"y":400,"wires":[["dab90782.4d7bc8"]]},{"id":"dab90782.4d7bc8","type":"function","z":"db0c9876.16fe48","name":"convert","func":"msg.payload=msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["fddbe694.9be438"]]},{"id":"fddbe694.9be438","type":"file-buffer","z":"db0c9876.16fe48","name":"","mode":"asBuffer","x":540,"y":400,"wires":[["87a4da64.b86208"]]},{"id":"296d521c.f5d3ae","type":"template","z":"11c480c4.77b35f","name":"create red data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"red\"","output":"json","x":340,"y":520,"wires":[["4990ca97.2d81a4"]]},{"id":"e4028261.84b6f","type":"template","z":"11c480c4.77b35f","name":"create green data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"green\"","output":"json","x":350,"y":580,"wires":[["4990ca97.2d81a4"]]},{"id":"f916a668.f90a88","type":"template","z":"11c480c4.77b35f","name":"create blue data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"blue\"","output":"json","x":340,"y":640,"wires":[["4990ca97.2d81a4"]]},{"id":"8df1dd22.3dfd5","type":"template","z":"11c480c4.77b35f","name":"create yellow data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"yellow\"","output":"json","x":350,"y":700,"wires":[["4990ca97.2d81a4"]]},{"id":"95001bc4.39b598","type":"template","z":"11c480c4.77b35f","name":"create aqua data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"aqua\"","output":"json","x":350,"y":760,"wires":[["4990ca97.2d81a4"]]},{"id":"ac084b6a.46fb58","type":"template","z":"11c480c4.77b35f","name":"create pink data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"pink\"","output":"json","x":340,"y":820,"wires":[["4990ca97.2d81a4"]]},{"id":"a8131f22.8e932","type":"template","z":"11c480c4.77b35f","name":"create white data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"white\"","output":"json","x":350,"y":880,"wires":[["4990ca97.2d81a4"]]},{"id":"35f9bc64.8fda54","type":"template","z":"11c480c4.77b35f","name":"create off data","field":"color","fieldType":"msg","format":"json","syntax":"plain","template":"\"off\"","output":"json","x":340,"y":940,"wires":[["4990ca97.2d81a4"]]},{"id":"2c130d64.c7aea2","type":"delay","z":"11c480c4.77b35f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":160,"wires":[["273fad41.78a4e2"]]},{"id":"97b5691d.27f458","type":"debug","z":"11c480c4.77b35f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":220,"wires":[]},{"id":"c56002fd.c716e","type":"object-detector","z":"11c480c4.77b35f","service":"be065126.5eb19","method":"predict","passthrough":"","annotated_input":"","predict_body":"","predict_bodyType":"str","predict_threshold":"0.7","predict_thresholdType":"str","name":"","x":180,"y":160,"wires":[["97b5691d.27f458","2c130d64.c7aea2","f692c06e.8340a"]]},{"id":"f5007a8.dd0fc88","type":"google-translate","z":"9404abeb.ebce08","name":"","to":"ja","x":440,"y":120,"wires":[["35bade76.b73aa2"]]},{"id":"d7f69d6d.84c32","type":"google-translate","z":"5bc057eb.1ffd58","name":"","to":"ja","x":160,"y":520,"wires":[["81854aa9.8d36a8"]]}]